# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore SQLite DB (optional if you're not using it anymore)
*.sqlite3

# Ignore VS Code settings (optional)
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
