{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MuleConnect Login</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="login-container">
    <div class="login-left">
        <img src="{% static 'images/mule.png' %}" alt="Logo" class="logo">
        <img src="{% static 'images/uni.png' %}" alt="UCM Campus" class="auth-image">
    </div>

    <div class="login-right">
      <h2>Login</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group password-wrapper">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
          <span class="toggle-password" onclick="togglePassword()">👁</span>
        </div>
        <button type="submit" class="btn-primary">Login</button>
        <p class="signup-link">
          Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
        </p>
      </form>
    </div>
  </div>
  <script defer src="{% static 'js/script.js' %}"></script>
</body>
</html>
